<div class="culture-selector">
    <select id="culture" @bind="Culture">
        @foreach (var culture in supportedCultures)
        {
            <option value="@culture.TwoLetterISOLanguageName">@culture.TwoLetterISOLanguageName.ToUpper()</option>
        }
    </select>
</div>
